/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
/* --------------- */

/* Анатомия */
/*
селектор{
	css параметр;
	css параметр;
	...
	css параметр;
}
*/
/* CSS параметр */
/*
css свойство: значение(я) свойства;
*/

/* Селекторы */

/* Селектор тега */
/*
имя тега{
	css параметр;
	css параметр;
	...
	css параметр;
}
*/
/* Пример селектора тега */
p {
	/* Обратились ко ВСЕМ тегам P на странице */
	color: red;
}
span {
	/* Обратились ко ВСЕМ тегам SPAN на странице */
	/* color: green; */
}

/* Селектор класса, начинается с ТОЧКИ */
/*
.имя класса {
	css параметр;
	css параметр;
	...
	css параметр;
}
*/
.text {
	/* Обратились ко объектам с классом text на странице */
	/* color: green; */
}
.paragraph {
	/* Обратились ко объектам с классом paragraph на странице */
	/* color: red; */
}

/* Селектор ID */
/*
#имя id{
	css параметр;
	css параметр;
	...
	css параметр;
}
*/
#menu {
	/* color: red; */
}

/* Приоритет */

/* 1. Порядок записи, при равнозначных селекторах */

p {
	/* Обратились ко ВСЕМ тегам P на странице */
	/* color: red; */
}

/* Этот приоритетней */
p {
	/* Обратились ко ВСЕМ тегам P на странице */
	/* color: yellowgreen; */
}

.text {
	/* Обратились ко объектам с классом text на странице */
	/* color: green; */
}
/* Этот приоритетней */
.paragraph {
	/* Обратились ко объектам с классом paragraph на странице */
	/* color: red; */
}

/* УТОЧНЕНИЕ */

/* 2. Селектор класса приоритетней чем селектор тега */

.text {
	/* Обратились ко объектам с классом text на странице */
	/* color: green; */
}
p {
	/* Обратились ко ВСЕМ тегам P на странице */
	/* color: red; */
}

/* Селектор ID - самый приоритетный */

#main-text {
	/* Обратились объекту c ID main-text на странице */
	/* color: blue; */
}
.text {
	/* Обратились ко объектам с классом text на странице */
	/* color: green; */
}
p {
	/* Обратились ко ВСЕМ тегам P на странице */
	/* color: red; */
}

/* 3. Уточняем обращением  */

/* Комбинация селекторов */

span.text.blue-text {
	/* Обратились ко тегам SPAN с классами и text и blue-text на странице */
	/* color: red; */
}
.text {
	/* Обратились ко объектам с классом text на странице */
	/* color: green; */
}

span.blue-text {
	/* Обратились ко тегам SPAN с классом blue-text на странице */
	/* color: blue; */
}

/* Вложенность и приоритетность */

/* Приоритеность №1 */

div p {
	/* color: blue; */
}

.content .content__item {
	/* Обратились ко объектам с классом .content__item но только к тем
	которые находятся внутри любых объектов с классом .content на странице 
	*/
	/* color: yellowgreen; */
}

.content__item {
	/* Обратились ко объектам с классом .content__item */
	/* color: violet; */
}

/* Инлайновый стиль будет имет самый большой приоритет */

/* Прочие селекторы */

/* * - Обращение ко ВСЕМ объектам */
/*
* {
	color: green;
}
*/

/* Обращаемся к нескольким объектам */

.content p,
.content span {
	/* Обратились ко всем тегам P но только к тем
	которые находятся внутри любых объектов с классом .content на странице.
	И ко всем тегам SPAN но только к тем 
	которые находятся внутри любых объектов с классом .content на странице.*/
	/* color: red; */
}

.content .content__item,
.content .content__text {
	/* Обратились ко всем объектам с классом content__item но только к тем
	которые находятся внутри любых объектов с классом .content на странице.
	И ко всем объектам с классом content__text но только к тем 
	которые находятся внутри любых объектов с классом .content на странице.*/
	/* color: red; */
}

.content__item,
.content__text,
footer {
	/* color: yellowgreen; */
}

/* Только первый уровень вложенности */

.content span {
	/* Обратились ко всем тегам SPAN но только к тем
	которые находятся внутри любых объектов с классом .content на странице. */
	/* color: red; */
}
.content > span {
	/* Обратились ко всем тегам SPAN ПЕРВОГО УРОВНЯ но только к тем
	которые находятся внутри любых объектов с классом .content на странице. */
	/* color: red; */
}

/* Обращаемся только к первому следующему объекту того же уровня */

.content__item + * {
	/* color: yellowgreen; */
}

/* Обращаемся ко всем следующим объектам того же уровня */

.content__item ~ span {
	/* color: yellowgreen; */
}

.content {
}
.content__item {
}
.content__text {
}
